
  table {
    border: 2px solid #000000;
    text-align: left;
    border-collapse: collapse;
    border-bottom: 3px solid #000000;
    border-top: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
    max-width:100%;
    white-space:nowrap;
  }

  tr:nth-child(even){background-color: #e4e4e4;}

  tr:hover {background-color: rgb(127, 169, 216);}
  

  td, th {
    border: 1px solid #000000;
    padding: 5px 4px;
  }
  tbody td {
    font-size: 14px;
  }
  thead {
    background: #607bbf;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
    border-top: 3px solid #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
  }
  thead th {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-align: left;
  }
  tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border-top: 2px solid #000000;
  }
  tfoot td {
    font-size: 14px;
  }